<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Ticket</title>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript"> 
    window.onload=function() { 
        systemTime();
        birthday();
        cardNumber();
    }; 
    </script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
    <div id="page">
        <div id="partOne">
            <div id="firstTitle">北京南站接送站凭条</div>
            <div id="firstContent">
                <div id="firstTab">
                    <div>
                        <p>时间：</p>
                        <p id="time"></p>
                        <p>
                            <select id="certifictes" class="text">
                                <option value="idCard">身份证</option>
                                <option value="officer">军官证</option>
                                <option value="student">学生证</option>
                            </select>
                        </p>
                    </div>
                    <div>
                        <p>车次：</p>
                        <p>
                            <span>
                                <input id="train" class="text" value="G164">
                            </span>
                        </p>
                        <p>车厢：</p>
                        <p>
                            <span>
                                <input id="carriage" class="text small" value="1">
                            </span>
                        </p>
                        <p>坐席：</p>
                        <p>
                            <span>
                                <input id="seat" class="text small" value="6A">
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>检票口：</p>
                        <p>
                            <span>
                                <input id="barrier" class="text" value="14">
                            </span>
                        </p>
                        <p>类型：</p>
                        <p>
                            <label>
                                <input id="fetch" class="rdo" type="radio" name="type" checked /> 接站</label>
                            <label>
                                <input id="sendOff" class="rdo" type="radio" name="type" /> 送站</label>
                            </p>
                        </p>
                    <div id="reason">
                        <p>原因：</p>
                        <p>
                            <label>
                                <input id="old" class="rdo" type="radio" name="cause" checked /> 老</label>
                            <label>
                                <input id="child" class="rdo" type="radio" name="cause" /> 幼</label>
                            <label>
                                <input id="patient" class="rdo" type="radio" name="cause" /> 病</label>
                            <label>
                                <input id="deformity" class="rdo" type="radio" name="cause" /> 残</label>
                            <label>
                                <input id="gravida" class="rdo" type="radio" name="cause" /> 孕</label>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <div id="partTwo">
            <img src="img/1.png">
        </div>
        <div id="partThree">
            <div id="thirdContent">
                <div id="thirdTab">
                    <div>
                        <p class="left">姓名：</p>
                        <p class="right" style="width:300px;">
                            <span id="name">{{name}}</span>
                        </p>
                    </div>
                    <div s>
                        <p class="left">性别：</p>
                        <p class="right">
                            <span id="sex">{{sex}}</span>
                        </p>
                        <p class="left">民族：</p>
                        <p class="right" style="width:200px;">
                            <span id="nation">{{nation}}族</span>
                        </p>
                    </div>
                    <div>
                        <p class="left">出生：</p>
                        <p class="right" style="width:300px;">
                            <span id="birthday">{{year}}年{{month}}月{{day}}日</span>
                        </p>
                    </div>
                    <div id="add">
                        <p class="left">住址：</p>
                        <p class="right" style="width:300px;">
                            <span id="address">{{address}}</span>
                        </p>
                    </div>
                    <div>
                        <p class="left">证件号码：</p>
                        <p class="right">
                            <span id="number">{{idcard}}</span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <img id="thirdImg" src="img/cardphoto.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="partFour">持本凭证禁止乘车，且仅限本人当日当次有效。</div>
        <div id="partFive">请您送人后1小时内反悔凭条办理处办理销号，未按此执行的将列入铁路征信系统，影响您下次购票乘车。</div>
    </div>
    <input name="print" type="button" id="bt" value="点击打印" onclick="printPage();"/>
</body>

</html>