<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Ticket</title>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
    <div id="page">
        <div id="partOne">
            <div id="firstTitle">北京南站接送站凭条</div>
            <div id="firstContent">
                <div id="firstTab">
                    <div>
                        <p>&nbsp;时间:&nbsp;</p>
                        <p id="time">{{datetime}}</p>
                        <p>
                            <select id="certifictes" class="text">
                                <option value="idCard">身份证</option>
                                <option value="officer">军官证</option>
                                <option value="student">学生证</option>
                            </select>
                        </p>
                    </div>
                    <div>
                        <p>&nbsp;车次:&nbsp;&nbsp;</p>
                        <p>
                            <span>
                                <input id="train" class="text" value="G164" style="margin-left: 14px;">
                            </span>
                        </p>
                        <p style="margin-left: 7px;">车厢:&nbsp;</p>
                        <p>
                            <span>
                                <input id="carriage" style="width:45px;"class="text small" value="1">
                            </span>
                        </p>
                        <p style="margin-left: 7px;">坐席:&nbsp;</p>
                        <p>
                            <span>
                                <input id="seat" style="width:45px;" class="text small" value="6A">
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>&nbsp;检票口:&nbsp;</p>
                        <p>
                            <span>
                                <input id="barrier" class="text" value="14">
                            </span>
                        </p>
                        <p style="margin-left:8px;">类型:&nbsp;</p>
                        <p>
                            <label>
                                <input id="fetch" class="rdo" type="radio" name="type" checked /> 接站</label>
                            <label>
                                <input id="sendOff" class="rdo" type="radio" name="type" /> 送站</label>
                            </p>
                        </p>
                    <div id="reason">
                        <p>&nbsp;原因:</p>
                        <p>
                            <label>
                                <input id="old" class="rdo" type="radio" name="cause" checked /> 老</label>
                            <label>
                                <input id="child" class="rdo" type="radio" name="cause" /> 幼</label>
                            <label>
                                <input id="patient" class="rdo" type="radio" name="cause" /> 病</label>
                            <label>
                                <input id="deformity" class="rdo" type="radio" name="cause" /> 残</label>
                            <label>
                                <input id="gravida" class="rdo" type="radio" name="cause" /> 孕</label>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <div id="partTwo">
            <img src="{{photoimg}}">
        </div> 
        <div id="partThree">
            <div id="thirdContent">
                <div id="thirdTab"style="margin-top: 2px;margin-left:  6px;">
                    <div>
                        <p class="left">&nbsp;姓名&nbsp;&nbsp;</p>
                        <p class="right" style="width:300px;">
                            <span id="name">{{name}}</span>
                        </p>
                    </div>
                    <div>
                        <p class="left">&nbsp;性别&nbsp;&nbsp;</p>
                        <p class="right">
                            <span id="sex">{{sex}}</span>
                        </p>
                        <p class="left">民族&nbsp;&nbsp;</p>
                        <p class="right" style="width:200px;">
                            <span id="nation">{{nation}}族</span>
                        </p>
                    </div>
                    <div>
                        <p class="left">&nbsp;出生&nbsp;&nbsp;</p>
                        <p class="right" style="width:300px;">
                            <span id="birthday">{{year}}&nbsp;&nbsp;年&nbsp;**&nbsp;月&nbsp;**&nbsp;日</span>
                        </p>
                    </div>
                    <div id="add" style="margin-bottom:10px;">
                        <p class="left">&nbsp;住址&nbsp;&nbsp;</p>
                        <p class="right" id="adres">
                            <span id="address">{{address}}</span>
                        </p>
                    </div>
                    <div>
                        <p class="left">证件号码&nbsp;</p>
                        <p class="right">
                            <span id="number">{{idcarda}}****{{idcardb}}</span>
                        </p>
                    </div>
                    <div id="headIcon">
                        <p>
                            <img id="thirdImg" src="img/cardphoto.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="partFour"style='margin-top: -5px;'>持本凭证禁止乘车，且仅限本人当日当次有效。</div>
        <div id="partFive">请您送人后1小时内返回凭条办理处办理销号，未按此执行的将列入铁路征信系统，影响您下次购票乘车。</div>
    </div>
</body>

</html>