#page{
    width: 383px;
    height: auto;
    padding: 0 5px;
    border: 1px dotted #000000;
    overflow: hidden;
    font-size: 18px;
}
select{
    border-style: dotted;
    font-size: 18px;
} 
label{
	position: relative;
	margin-left: 12px;
} 
div p{
    float: left;
}
span{
    padding-right: 15px;
}
#firstTitle{
    height: 25px;
    font-size: 24px;
    font-weight: 600!important;
    text-align: center;
    padding-left: 5px;
    font-family: "黑体";
}
#firstContent{
    height: 210px;
}
#time{
    width: 200px;
    margin-right: 55px;
}
#certifictes{
    width: 90px;
    margin-left: -43px;
}
#train{
    margin-left: 15px;
}
#train,#carriage,#seat,#barrier{
    width: 45px;
    height: 15px;

}
#sendOff{
    margin-left: 15px;
}
#reason{
    display: inline-block;
}
#partTwo{
    position: relative;
    top: 10px;
    text-align: center;
    height: 190px;
    margin-bottom: 10px;
}
#partTwo>img{
	width: 250px;
    margin: 10px;
}
#partThree{
    margin-top: 10px;
    height: 200px;
    line-height: 0px;   
}
#adres{
    width: 200px;
    word-wrap:break-word;
    margin-right: 100px;
    line-height: 20px;
    margin-top: 5px;
}
#thirdImg{
    position: absolute;
    left: 275px;
    top: 450px;
    width: 120px;
    height: 150px;
}

#partFour{
    height: 20px;
}
#partFour,#partFive{
    height: auto;
    font-weight: 600!important;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 10px;
    font-family: "黑体";
    font-size: 22px;
}
#bt{
    position: relative;
    left: 116.5px;
    top: 20px;
    width: 150px;
    height: 30px;
    border-radius:25px;
    background-color: skyblue;
    box-shadow: 5px 5px 5px #888888;
}
