#page{
    width: 383px;
    height: auto;
    padding: 0 5px;
    border: 1px dotted #000000;
    overflow: hidden;
    font-size: 18px;
}
select{
    border-style: dotted;
    font-size: 18px;
} 
label{
	position: relative;
	margin-left: 12px;
} 
div p{
    float: left;
}
span{
    padding-right: 15px;
}
#firstTitle{
    height: 25px;
    font-size: 24px;
    font-weight: 600!important;
    text-align: center;
    padding-left: 5px;
    font-family: "黑体";
    margin-bottom: 10px;
}
#firstContent{
    height: auto;
    overflow: hidden;
    margin-top: -5px;
    margin-left: 5px;
}
#firstTab>div{
    height: 25px;
    line-height: 25px;
}
#firstTab>div:last-child{
    height: 50px;
}
#firstTab>div>p{
    margin-top:0;
    margin-bottom: 0;
    height: 100%;
}
#firstTab>div:last-child>p{
    height: 50%;
}

#time{
    width: 200px;
    margin-right: 55px;
}
#certifictes{
    width: 80px;
    margin-left: -25px;
}
#train{
    margin-left: 15px;
}
#train,#carriage,#seat,#barrier{
    width: 54px;
    height: 15px;
    font-family: 宋体;
}
#sendOff{
    margin-left: 15px;
}
#reason{
    display: inline-block;
}
#reason>p{
    margin-top: 0;
    margin-bottom: 0;
}
#partTwo{
    position: relative;
    top: 10px;
    text-align: center;
    height: 190px;
    margin-bottom: 10px;
}
#partTwo>img{
	width: 250px;
    margin: 10px;
}
#partThree{
    margin-top: 30px;
    height: auto;
    /* line-height: 0px;    */
}
#thirdContent{
    height: 100%;
}
#thirdTab{
    height: 100%;
    position: relative;
}
#thirdTab>div{
    height: 27px;
}
#thirdTab>div>p{
    margin-top:0;
    margin-bottom: 0;
    height: 100%;
}
#thirdTab>div#add{
    height: 55px;
}
#number{
    font-size: 16px;
}
#adres{
    width: 200px;
    word-wrap:break-word;
    margin-right: 100px;
    line-height: 20px;
    margin-top: 5px;
}
#thirdTab>div#headIcon{
    width: 115px;
    height: 155px;
    position: absolute;
    left: 260px;
    top: 0;
}
#thirdImg{
    height: 100%;
}
#sex{
    padding-right: 35px;
}

#partFour{
    height: 20px;
}
#partFour,#partFive{
    width: 97%;
    height: auto;
    font-weight: 600!important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-family: "黑体";
    font-size: 22px;
}
#bt{
    position: relative;
    left: 116.5px;
    top: 20px;
    width: 150px;
    height: 30px;
    border-radius:25px;
    background-color: skyblue;
    box-shadow: 5px 5px 5px #888888;
}
